snippet pubf "public method"
	public function ${1}(${2}): $3
	{
		${0}
	}

snippet prof "protected method"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet prif "private method"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet this "$this->"
	$$this->${1};

snippet iff "if statement"
	if (${1}) {

	}
